{% extends 'layout.html' %}
{% block body%}

{% with messages = get_flashed_messages() %}  <!-- Guarda valor de mensaje enviado con flash()-->
{% if messages %}
{% for message in messages %} <!-- por cada mensage en arreglo message -->
    
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>    <!-- muestra mensaje -->
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
{% endfor %}
{% endif %}
{% endwith %}

<form action="/add_contact" method="POST">
    <input type="text" name="fullname" placeholder="Fullname">
    <input type="text" name="phone" placeholder="Phone">
    <input type="text" name="email" placeholder="Email">
    <button type="submit">
        SAVE
    </button>
</form>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Operation</td>
        </tr>
    </thead>
    <tbody>
        {% for i in data %}
            <tr>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
                <td>{{i.3}}</td>
                <td>
                    <a href="/edit/{{i.0}}">Edit</a>
                    <a href="/delete/{{i.0}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}